@font-face {
    font-family: ms-sans-serif;
    src: url('lib/font/ms-sans-serif.otf');
}

body {
    color: white;
    background-color: rgb(1, 130, 129);
    font-family: 'ms-sans-serif';
    display: grid;
    place-items: center;
    text-align: center;
}

h1 {
    color: yellow;
}

a {
    color: rgb(255, 255, 50);
    font-size: 20px;
}

label, p, pre {
    font-family: 'ms-sans-serif';
    font-size: 20px;
}

button {
    background-image: url("textures/button.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'ms-sans-serif';
}

#reset, #fullscreenbtn {
    font-size: 17px;
}

select {
    background-image: url("textures/button.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'ms-sans-serif';
}

.gameCanvas {
    position: relative;
}

#title {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 30px;
    color: white;
}

#game {
    border: 50px solid rgb(192, 192, 192)
}

#header {
    font-size: 30px;
}

#classicstart {
    position: absolute;
    top: 120px;
    left: 60px;
    font-size: 20px;
}

#storystart {
    position: absolute;
    top: 170px;
    left: 60px;
    font-size: 20px;
}